@use '@carbon/layout';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

  .noOrdersDiv{
    background-color: #fff;
    text-align: center;
    font-weight:bold;
    width: 100%;
  }
  
  .ordersTableToolbar{
    position: static;
    height: 3rem;
    overflow: visible;
    margin: 0;
  }

  .ordersToolbarSearchBar{
    background-color:#f4f4f4 ;
  }
  