@use '@carbon/layout';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.orderTile {
  width: 100%;
  margin: 2px 0 8px;
  padding: 0 8px 0 8px;
  background-color: colors.$white-0;
  border-left: 4px solid var(--brand-03);
  color: $text-02;
  margin-bottom: 1rem !important;
  &:hover{
    background-color: colors.$white-hover; 
  }
}

.ordersContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 1rem;

  &:global(.cds--tile) {
    min-height: 3rem !important;
    padding-left: 10px !important;
  }
}

.ordersContainer > :global(.cds--tile) {
  min-height: 3rem !important;
  padding-left: 10px !important;
  margin: auto;
}
 
.orderPropertyDisplay {
    font-size: 15px !important;
  }
  
  .bodyLong01 {
    font-size: 13px !important;
  }
  
  .displayValue {
    color: #525252;
    font-weight: bold;
    width: layout.$spacing-05;
    height: layout.$spacing-05;
  }
  
  .actionBtns {
    float: right;
    margin-left: 1rem;
    margin-top: 2rem;
  }